on init
    # 为解密服务创建必要的临时目录
    mkdir /tmp/misc 0770 root root
    mkdir /tmp/misc/keystore 0700 root root

on fs
    # set charging free due to it waits for USB activation
    write /sys/class/android_usb/android0/enable 1
    start adbd

    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/devices/platform/mt_usb/cmode 2

on property:ro.debuggable=1
    # restore cmode to normal for making USB enumeration
    write /sys/devices/platform/mt_usb/cmode 1

on post-fs-data
    # Support A/B feature for boot region
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/mtk-msdc.0/11230000.msdc0/by-name/preloader_b

# ----------------- 解密服务启动项 -----------------

# 启动 Keymaster 3.0 服务
service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service
    class early_hal
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

# 启动 Gatekeeper 1.0 服务 (负责验证密码)
service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    seclabel u:r:recovery:s0
